
.button {
  /* margin-bottom: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;*/
  font-weight: bold;
   /* display: block; */
   margin: 0 auto;
}

.callout.large {
    padding-top: 1rem;
    padding-bottom: 0;
}
.callout.primary {
  /* background-color: #cef5eb; */
  /* background-color: #FFE7AB; -- yellowish */
  background-color: #efeecc;
  /* background-image: url("background.png"); */
}

.top-bar, .top-bar ul, #user-profile {
    /* background-color: #E1C8A3; */
    background-color: #563D7C;
    /* background-color: #6F4AC4; */
}

.button.custom {
  /* background-color: #999; */
   margin-bottom: 0;
  /*padding-top: 0.5rem;
  padding-bottom: 0.5rem; */
  font-weight: bold;
  background-color: #563D7C;
}

.button-group {
  margin-bottom: 0;
  margin-top: auto;
  display: inline-flex;
  margin-right: 5px;
}

.button.custom:hover, .button.custom:focus {
  /* background-color: #6d5031; */
  /* background-color: #FFE484; */
    background-color: #6d5031;
}

.edit-delete-links {
  color: #563D7C;
  font-weight: bold;
}

.edit-delete-links:hover {
  color: #2E0D23;
  font-weight: bold;
}


.top-bar ul li.menu-text {
  color: #ffffff;
}

.top-bar ul li a {
  color: #FFE7AB;
}

.top-bar ul li a:hover {
  /* color: #f9d475; */
  color: #f9ba16;
}

ul.custom-menu > li > a  {
  color: #563D7C;
}

ul.custom-menu > li > a:hover  {
  color: #3f2c5b;
}

.flash-msg {
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
  border-left: 4px solid #999;
}

#error_explanation {
  font-style: italic;
  color: #7a1a02;
}

footer {
  background-color: #efeecc;
  border-top: 1px solid #999;
}

a.home {
  color: #ffffff;
  font-weight: bold;
  padding-left: 15px;
}

.site-title {
  color: #563D7C;
}

a.item {
  color: #6d5031;
  font-weight: bold;

}
a.item:hover {
  /* color: #9e3e50; */
  color: #563D7C;
  text-decoration: underline;
}

.item-DT {
  /* color: #808080; */
  color: #676077;
  /* font-weight: bold; */

}
.item-DD {
  color: #c2425e;
}

.page-heading {
  color: #563D7C;
  margin-bottom: 0;
  display: inline-block;
  font-weight: 300;
}
.heading-link  {
  display: inline-block;
  margin-left: 40px;
}
.heading-link > a {
  color: #c2425e;
  font-weight: bold;
}
.heading-link > a:hover {
  color: #6d5031;
  font-weight: bold;
  text-decoration: underline;
}

.heading-tags {
  color: #6d5031;
  font-style: italic;
  font-size: 1.3rem;
}

.icon-lock-style {
  text-shadow: 0 1px 1px rgba(0,0,0,0.25);
  /* color: #A9014B; */
  color: red;
}

.subheader {
  color: #545252;
}
