<% if object.errors.any? %>
  <div class="error_explanation">
    <span>Please enter valid information:</span>
    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>



  
